spring:
  application:
    name: weather-api
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      username: ${REDIS_USERNAME:default}
      password: ${REDIS_PASSWORD:}
  cache:
    type: redis
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope:
              - user:email
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${DB_DDL_AUTO:update}
    show-sql: ${DB_SHOW_SQL:false}
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect


openweathermap:
  key: ${OPENWEATHER_KEY}
  base-url: https://api.openweathermap.org/data/2.5
  base-url2: https://api.openweathermap.org/geo/1.0/direct


jwt:
  secret: ${JWT_SECRET}
  expiry-minutes: ${JWT_EXPIRY:60}

app:
  frontend-url: ${FRONTEND_URL:http://localhost:3000}
  cookie:
    secure: ${COOKIE_SECURE:false}


server:
  port: ${PORT:8080}